@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">
            <input id="accessoryId" type="hidden" value="${item.accessoryId}">
            <input id="procIdValue" type="hidden" value="${item.procId}">
            <input id="measureUnitValue" type="hidden" value="${item.measureUnit}">
            <input id="unitWeightValue" type="hidden" value="${item.unitWeight}">
            <input id="isValidateValue" type="hidden" value="${item.isValidate}">
            <input id="brandIdValue" type="hidden" value="${item.brandId}">
            <input id="supplierIdValue" type="hidden" value="${item.supplierId}">

            <div class="row">
                <div class="col-sm-6 b-r">
                    <#select id="procId" name="工艺">
                        <option value="0">请选择</option>
                        @for(processing in processingList!) {
                        <option value="${processing.procId}">${processing.name}</option>
                        @}
                    </#select>
                    <#input id="name" name="名称" value="${item.name}" underline="true"/>
                    <#input id="accessoryDesc" name="配件描述" value="${item.accessoryDesc}" underline="true"/>
                    <#input id="width" name="宽度" value="${item.width}" underline="true"/>
                    <#input id="length" name="长度" value="${item.length}" underline="true"/>
                    <#input id="thickness" name="厚度" value="${item.thickness}" underline="true"/>
                    <#select id="measureUnit" name="计量单位">
                        <option value="0">请选择</option>
                        @for(mu in measureUnitList!) {
                        <option value="${mu.id}">${mu.desc}</option>
                        @}
                    </#select>
                    <#select id="unitWeight" name="单位重量">
                        <option value="0">请选择</option>
                        @for(wu in weightUnitList!) {
                        <option value="${wu.id}">${wu.desc}</option>
                        @}
                    </#select>
                </div>

                <div class="col-sm-6">
                    <#input id="weight" name="重量" value="${item.weight}" underline="true"/>
                    <#select id="isValidate" name="是否有效">
                        <option value="1">有效</option>
                        <option value="0">无效</option>
                    </#select>
                    <#select id="brandId" name="品牌">
                        <option value="0">请选择</option>
                        @for(brand in brandList!) {
                        <option value="${brand.brandId}">${brand.brandName}</option>
                        @}
                    </#select>
                    <#select id="supplierId" name="生产商">
                        <option value="0">请选择</option>
                        @for(suppliers in suppliersList!) {
                        <option value="${suppliers.suppliersId}">${suppliers.suppliersName}</option>
                        @}
                    </#select>
                    <#input id="materialThumb" name="缩略图" value="${item.materialThumb}" underline="true"/>
                    <#input id="comment" name="备注" value="${item.comment}" />
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="AccessoryInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="AccessoryInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/Accessory/accessory/accessory_info.js"></script>
@}
